<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>APM44 Bridge</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>APM44 Bridge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>APM44 Bridge</string>
	<key>APM44BuildID</key>
	<string>$(APM44_BUILD_ID)</string>
	<key>SUFeedURL</key>
	<string>https://niko96-dotcom.github.io/apm44-bridge/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>OBuJnjQz2JN710gqlMz7ExHPgjb1rXPBeNz0oBUsBiM=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
</dict>
</plist>
